.Card{
    background-color: white;
    width: 29%;
    height: fit-content;
    margin: 1%;
    border-radius: 1em;
}

.Card_img, .Card_Name{
    text-align: center;
    text-transform: capitalize;
}

.Card_Types{
    display:flex;
    justify-content: center;
}

.Card_type{
    padding: 5px 10px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    background: cyan;
    color: white;
    
}

.Card_Name, .title{
    font-weight: 700;
}

.Card_info{
    display:flex;
    justify-content: space-evenly;
    
}